In [2]:
import pandas as pd
import numpy as np 
from statistics import mean
from sklearn.linear_model import LinearRegression

### Goal: Linear Model Predicting W/L based on Events

To accomplish this, we will compress the events in each game to singular features.

For each player, `p`, in each match, `m`, we'll end up with:

In [3]:
timelines_data = pd.read_json("data/d2_250_1_timelines.jsonl", lines = True)
timelines = pd.DataFrame(timelines_data['info'].to_list())
timelines_data = None

In [4]:
matches_data = pd.read_json("data/d2_250_1_matches.jsonl", lines = True)
matches = pd.DataFrame(matches_data['info'].to_list())
matches_data = None

In [5]:
matches = matches.drop_duplicates(subset=['gameId'])

In [6]:
df = matches.merge(timelines, on="gameId")

In [7]:
df = df[df['gameMode'] == 'CLASSIC']

In [8]:
df = df.drop(['gameCreation', 'gameMode', 'gameVersion', 'platformId', 'queueId', 
              'tournamentCode', 'gameModeMutators', 'frameInterval', 'mapId', 
              'gameType', 'gameStartTimestamp', 'gameEndTimestamp', 'gameName',
              'endOfGameResult_x', 'endOfGameResult_y'], axis=1)

In [9]:
df = df[df['gameDuration'] > 900]

In [10]:
df.head()

,gameDuration,gameId,participants_x,teams,frames,participants_y
0,1824,5421954555,"[{'PlayerScore0': 0, 'PlayerScore1': 0, 'Playe...","[{'bans': [{'championId': 887, 'pickTurn': 1},...","[{'events': [{'realTimestamp': 1764140458293, ...","[{'participantId': 1, 'puuid': 'Q1y-V54r0MfrVF..."
1,1252,5417770862,"[{'PlayerScore0': 0, 'PlayerScore1': 0, 'Playe...","[{'bans': [{'championId': 126, 'pickTurn': 1},...","[{'events': [{'realTimestamp': 1763683786918, ...","[{'participantId': 1, 'puuid': 'PwY8oV4LBajF1p..."
6,1874,5360407908,"[{'PlayerScore0': 0, 'PlayerScore1': 0, 'Playe...","[{'bans': [{'championId': 36, 'pickTurn': 1}, ...","[{'events': [{'realTimestamp': 1756759665632, ...","[{'participantId': 1, 'puuid': 'mxF9joPkqn2wGp..."
7,1713,5353144819,"[{'PlayerScore0': 0, 'PlayerScore1': 0, 'Playe...","[{'bans': [{'championId': 236, 'pickTurn': 1},...","[{'events': [{'realTimestamp': 1755922257096, ...","[{'participantId': 1, 'puuid': 'kWdt358dHpvC6T..."
8,2007,5417659188,"[{'PlayerScore0': 0, 'PlayerScore1': 0, 'Playe...","[{'bans': [{'championId': 117, 'pickTurn': 1},...","[{'events': [{'realTimestamp': 1763672882122, ...","[{'participantId': 1, 'puuid': 'VJKFH4zTTd6pB_..."

In [11]:
from enum import Enum
class Position(Enum):
    TOP = '1'
    JGL = '2'
    MID = '3'
    ADC = '4'
    SUP = '5'

position_map = {
    0: Position.TOP,
    1: Position.JGL,
    2: Position.MID,
    3: Position.ADC,
    4: Position.SUP
}

rows = [] # Role, Wards Placed, Game Duration, Win

for gameidx in range(len(df)):
    game = df.iloc[gameidx]
    for playeridx in range(10):
        wards_placed = 0
        for time in game['frames']:
            for event in time['events']:
                if 'creatorId' in event and event['creatorId'] == playeridx and event['type'] == 'WARD_PLACED':
                    wards_placed += 1

        position = position_map[playeridx % 5]
        win = game['participants_x'][playeridx]['win']
        duration = game['gameDuration']
        rows.append({'position':position, 'wards': wards_placed, 'duration': duration, 'win':win})
df_cleaned = pd.DataFrame(rows)
df_cleaned["position"] = df_cleaned["position"].astype("category")
df_cleaned.head(3)

       position  wards  duration    win
0  Position.TOP      0      1824  False
1  Position.JGL      2      1824  False
2  Position.MID      1      1824  False

In [12]:
X = pd.get_dummies(df_cleaned[["position", "wards", "duration"]], drop_first=True)
y = df_cleaned['win']

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=67)

In [14]:
from sklearn.metrics import mean_squared_error

lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print(mse)

0.2539724444842453

In [15]:
print(pd.DataFrame({"feature": X.columns, "beta": lr.coef_}))

                 feature      beta
0                  wards -0.000224
1               duration  0.000031
2  position_Position.JGL  0.023088
3  position_Position.MID  0.036382
4  position_Position.ADC  0.044136
5  position_Position.SUP  0.035441

In [16]:
df_cleaned.to_csv("d2_250_pwdw.csv", index=False)

In [40]:
unique_event_types = set()

for game in df['frames']:
    for minute in game:
        for event in minute['events']:
            unique_event_types.add(event['type'])

unique_event_types

{'BUILDING_KILL',
 'CHAMPION_KILL',
 'CHAMPION_SPECIAL_KILL',
 'CHAMPION_TRANSFORM',
 'DRAGON_SOUL_GIVEN',
 'ELITE_MONSTER_KILL',
 'FEAT_UPDATE',
 'GAME_END',
 'ITEM_DESTROYED',
 'ITEM_PURCHASED',
 'ITEM_SOLD',
 'ITEM_UNDO',
 'LEVEL_UP',
 'OBJECTIVE_BOUNTY_FINISH',
 'OBJECTIVE_BOUNTY_PRESTART',
 'PAUSE_END',
 'SKILL_LEVEL_UP',
 'TURRET_PLATE_DESTROYED',
 'WARD_KILL',
 'WARD_PLACED'}

In [97]:
def print_event(event_type: str):
    for game in df['frames']:
        for minute in game:
            for event in minute['events']:
                if event['type'] ==event_type:
                    print(event)
                    return
                
print_event("DRAGON_SOUL_GIVEN")

{'name': 'Mountain', 'teamId': 0, 'timestamp': 785111, 'type': 'DRAGON_SOUL_GIVEN'}

In [ ]:
df.iloc[0]['participants_x'][9]['championName']
teamid = game['participants_x'][playeridx]['teamId']

'SUPPORT'

In [113]:
big_rows = [] 
import random
for gameidx in range(len(df)):
    game = df.iloc[gameidx]
    for playeridx in range(10):
        
        dummy = random.randint(0, 100)

        pdata = game['participants_x'][playeridx]
        holdPings = pdata['holdPings']
        pushPings = pdata['pushPings']
        allInPings = pdata['allInPings']
        basicPings = pdata['basicPings']
        dangerPings = pdata['dangerPings']
        commandPings = pdata['commandPings']
        getBackPings = pdata['getBackPings']
        omwPings = pdata['onMyWayPings']
        retreatPings = pdata['retreatPings']
        assistPings = pdata['assistMePings']
        needVisionPings = pdata['needVisionPings']
        enemyVisionPings = pdata['enemyVisionPings']
        enemyMissingPings = pdata['enemyMissingPings']
        clearedPings = pdata['visionClearedPings']

        totalPings = holdPings + pushPings + allInPings + basicPings + dangerPings + commandPings + getBackPings + omwPings + retreatPings + assistPings + needVisionPings + enemyVisionPings + enemyMissingPings + clearedPings
        wardsPlaced = pdata['wardsPlaced']
        wardsKilled = pdata['wardsKilled']
        detectorPlaced = pdata['detectorWardsPlaced']
        cctime = pdata['timeCCingOthers']
        turretTakedowns = pdata['turretTakedowns']
        turretsLost = pdata['turretsLost']
        position = game['participants_x'][playeridx]['role']
        duration = game['gameDuration']
        champion = pdata['championName']

        win = game['participants_x'][playeridx]['win']

        big_rows.append({'missingPings':enemyMissingPings, 'totalPings': totalPings, "wardsPlaced": wardsPlaced, 
                         'wardsKilled': wardsKilled, 'detectorsPlaced': detectorPlaced, 'position':position, 
                         'cctime': cctime, 'turretTakedowns': turretTakedowns, 'turretsLost': turretsLost,
                         'position': position, 'duration': duration, 'dummy':dummy, 'win':win})

df_big = pd.DataFrame(big_rows)
df_big["position"] = df_big["position"].astype("category")

df_big.head(30)

,missingPings,totalPings,wardsPlaced,wardsKilled,detectorsPlaced,position,cctime,turretTakedowns,turretsLost,duration,dummy,win
0,4,8,2,2,1,SOLO,28,1,11,1824,96,False
1,3,37,1,9,0,NONE,15,0,11,1824,98,False
2,2,5,10,6,1,CARRY,26,3,11,1824,28,False
3,25,66,10,4,0,SOLO,0,0,11,1824,100,False
4,16,55,28,5,4,SUPPORT,38,0,11,1824,17,False
5,7,10,10,1,0,SOLO,11,7,4,1824,34,True
6,5,64,4,2,3,NONE,12,4,4,1824,83,True
7,5,42,16,4,7,SOLO,42,4,4,1824,1,True
8,2,19,4,2,0,CARRY,14,2,4,1824,55,True
9,0,87,40,9,8,SUPPORT,52,6,4,1824,43,True
10,2,20,7,0,0,NONE,7,4,0,1252,61,True
11,2,32,6,1,0,NONE,5,2,0,1252,59,True
12,7,35,6,2,0,SOLO,24,5,0,1252,16,True
13,0,2,7,0,0,CARRY,35,4,0,1252,3,True
14,2,6,16,6,0,SUPPORT,46,2,0,1252,84,True
15,4,11,8,1,0,SOLO,3,0,10,1252,39,False
16,9,22,1,1,0,NONE,9,0,10,1252,60,False
17,5,28,8,1,1,SOLO,1,0,10,1252,96,False
18,0,7,11,0,5,CARRY,17,0,10,1252,80,False
19,4,14,10,2,1,SUPPORT,11,0,10,1252,17,False
20,4,39,10,2,0,SOLO,17,7,3,1874,33,True
21,5,91,3,1,1,NONE,12,2,3,1874,32,True
22,1,48,7,3,3,SOLO,31,2,3,1874,68,True
23,9,28,11,4,2,CARRY,0,6,3,1874,36,True
24,14,18,46,5,10,SUPPORT,28,3,3,1874,45,True
25,3,28,11,1,1,SOLO,24,3,9,1874,93,False
26,29,145,2,9,0,NONE,42,0,9,1874,26,False
27,14,94,10,3,2,SOLO,37,0,9,1874,20,False
28,3,20,9,1,1,CARRY,0,0,9,1874,15,False
29,13,51,36,9,8,SUPPORT,38,0,9,1874,83,False

In [114]:
df_big.to_csv("data/d2_250_big.csv", index=False)

wonder if we could divide the game up in to a set of "Plays", each with their own statistics (like events, wards placed, etc) and create a model that gives you feedback on each "Play", calculating which contributes to the win/loss the most.

In [10]:
df['participants_x'][30][5]['win']

# X: participant role (1-5), champion, game duration, wards placed
# Y: participant win (0/1)

True