In [1]:
from matchcleaner import unpack, mergeclean
import pandas as pd
import numpy as np

In [2]:
df = mergeclean("data/d2_250_1_timelines.jsonl", "data/d2_250_1_matches.jsonl")
df = unpack(df)

In [3]:
df.head()

,deaths,dragonKills,baronKills,firstBloodKill,firstBloodAssist,kills,lane,neutralMinionsKilled,turretTakedowns,turretsLost,...,enemyMissingPings,clearedPings,totalPings,wardsPlaced,wardsKilled,detectorPlaced,position,duration,champion,win
0,8,0,0,False,False,3,TOP,4,1,11,...,4,0,8,2,2,1,SOLO,1824,Sion,False
1,12,1,0,False,False,6,JUNGLE,143,0,11,...,3,0,37,1,9,0,NONE,1824,Sylas,False
2,5,0,0,False,False,4,MIDDLE,8,3,11,...,2,0,5,10,6,1,CARRY,1824,Caitlyn,False
3,6,0,0,False,False,3,BOTTOM,0,0,11,...,25,0,66,10,4,0,SOLO,1824,Sivir,False
4,7,0,0,False,False,0,MIDDLE,0,0,11,...,16,0,55,28,5,4,SUPPORT,1824,Soraka,False

In [5]:
df.to_csv("data/d2_250_performance.csv", index=False)