In [1]:
import pandas as pd

In [2]:
df = pd.read_json("data/d4_10000_5_matches.jsonl", lines=True)
df = pd.DataFrame(df['info'].to_list())

In [3]:
df = df[df['gameMode'] == 'CLASSIC']
df = df.drop_duplicates(subset=['gameId'])

In [4]:
df = df.head(1000)

In [5]:
df['teams'][0][0]['bans']

[{'championId': 266, 'pickTurn': 1},
 {'championId': 14, 'pickTurn': 2},
 {'championId': 246, 'pickTurn': 3},
 {'championId': 121, 'pickTurn': 4},
 {'championId': 90, 'pickTurn': 5}]

In [26]:
df['participants'][0][9]['championId']

201

In [51]:
rows = [
    {
        "picked1":  [p["championId"] for p in participants][:5],
        "banned1":  [b["championId"] for b in teams[0]["bans"]],
        "picked2":  [p["championId"] for p in participants][5:],
        "banned2":  [b["championId"] for b in teams[1]["bans"]],
        "win1":     participants[0]["win"],
    }
    for teams, participants in zip(df["teams"], df["participants"])
]

df_champs = pd.DataFrame(rows)

df_champs.head()

,picked1,banned1,picked2,banned2,win1
0,"[92, 25, 157, 800, 63]","[266, 14, 246, 121, 90]","[904, 234, 134, 236, 201]","[238, 107, 897, 555, 141]",True
1,"[36, 104, 777, 51, 800]","[887, 82, 360, 901, 238]","[92, 35, 39, 523, 43]","[555, 134, 54, 11, 711]",True
2,"[6, 238, 127, 51, 902]","[21, 23, 523, 266, 904]","[24, 56, 61, 236, 63]","[166, 800, 804, 54, 904]",False
3,"[6, 107, 245, 222, 40]","[555, 3, 24, 161, 54]","[897, 246, 777, 145, 800]","[120, 360, 51, 950, 114]",True
4,"[19, 517, 54, 221, 147]","[-1, 21, 904, 887, 107]","[82, 62, 166, 157, 26]","[238, 121, 800, 555, 904]",False